pkgbase = flightgear-data
	pkgdesc = Base-Data for the opensource flight-simulator.
	pkgver = 2024.1.1
	pkgrel = 1
	url = http://www.flightgear.org/
	arch = any
	license = GPL
	options = !strip
	source = https://downloads.sourceforge.net/project/flightgear/release-2024.1/FlightGear-2024.1.1-data.txz
	sha256sums = 44c48bd03440f6ece07b26d095d9185cec22fc159e5cc1cf451adbc5ebd7953e

pkgname = flightgear-data
