pkgbase = simgear
	pkgdesc = A set of open-source libraries designed to be used as building blocks for quickly assembling 3d simulations, games, and visualization applications.
	pkgver = 2024.1.1
	pkgrel = 1
	url = http://home.flightgear.org/
	arch = x86_64
	license = GPL
	makedepends = boost
	makedepends = cmake
	makedepends = mesa
	depends = glu
	depends = glut
	depends = freealut
	depends = plib
	depends = openscenegraph
	source = simgear-2024.1.1.tar.bz2::https://gitlab.com/flightgear/fgmeta/-/jobs/9264813015/artifacts/raw/sgbuild/simgear-2024.1.1.tar.bz2
	source = nasalhash-pass-missing-if-include.patch
	sha256sums = b0613b8b606697faa42a5839590927f6b82ca2f6ec198a7bfa5fe16045696069
	sha256sums = 7c7d4b3065c687042cade9bbc09e01727c46c4a6ae42826d1b129294d67ce4bb

pkgname = simgear
